.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-container {
  width: 40%;
  .search-input {
    background-color: #dedede;
    width: 100%;
  }

  .margin {
    margin: 20px !important;
  }
}

.table-container {
  width: 80% !important;
  margin: 20px auto;
}